body {
  margin: 0;
  background-color: black;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  width: 100%;
  z-index: 100;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}
p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card-only {
  position: relative;
  width: 50rem;
  border-radius: 9px;
  box-shadow: 0px 31px 35px -26px #080c21;
  .card-content {
    background-color: #3268a8;
  }
  .search {
    width: 100%;
    input {
      width: 90%;
      outline: none;
      padding: 3px;
      color: blue;
      font-size: 16px;
      font-weight: 600;

      &::placeholder {
        color: rgb(145, 54, 54);
      }
    }
  }
  .btn-click {
    background-color: #A74C17;
    color: white;
  }

  .city-name {
    margin: 1.5rem 0 0;
    text-align: start;
    color: white;
    .city {
      font-size: 2.8rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      .subname {
        font-size: 1rem;
        color: #000000;
        font-weight: bolder;
      }
    }
    .icono {
      h1 {
        text-align: center;
        color: rgb(185, 25, 25);
      }
      .wi {
        margin: 10px;
      }
      p {
        color: white;
        font-weight: bolder;
      }
    }
  }

  .temp {
    color: white;
    margin: 0;
    padding: 1rem 0;
  }
  .extra {
    padding: 10px 0;
    height: 100%;
    display: flex;
    align-items: center;
    .ans {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    margin-left: 5px;

    p {
      margin: 0;
      text-align: start;
    }
  }
  .word {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
  .smallme {
    font-size: 12px;
    color: blue;
  }
}
